html, body{
    margin: 0;
    padding: 0;
}

.formulaire {
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    margin: 5% auto;
    width: 50%;
    border: solid silver 1px;
    padding: 15px;
}

